*{
    text-align: center;
}
#maintopic{
    background-color: blue;
}
h1,h2,h5{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/*
p{
    color: white;
    background-color: cornflowerblue;
}*/
div button {
    color: azure;
    background-color: purple;
}
button:hover{
    background-color: yellow;
    color: blue;
}
p:nth-of-type(odd){
color: yellow ;
}
h1::first-letter{
    color: red;    
}
#yes:checked{ 
   background-color: darkgreen;
}