     h1{
         text-align: center;
         text-decoration: dotted underline;
         letter-spacing: 5px;
         font-size: 50px;
         font-family: impact;
       
        }
    h3{
         text-align: start;
         text-decoration: wavy line-through;
    }
    h2{
      font-weight: 400;
    }
    p{
      font-weight: 300;
      line-height: 1.5;
      font-family: arial;
      text-align: center;
    }