*{
    font-family: 'Courier New';

}

h1 , h3{
    color: #f52936;
}
#login{
    background-color: whitesmoke;
}
#signup{
    color: white;
 
    background-color: #f52936;
}
.upvote{
    color: green;
    background-color: greenyellow
}
div[id="myid"] p {
    color: green

}
/*descendant selector*/
.post a{
    color: purple;
    background-color: yellow;
}
nav ul li a{
    color: hotpink;
}
p+h3{
    text-decoration: underline;
}
.upvote+button{
    background-color: cornflowerblue;
    color: darkblue;

}
div>input{
    background-color: orangered;
}
input[type="text"]{
    color: violet;
}
input[type="password"]{
    color: blue;
   
}
button:hover {
    color: white;
    background-color: black;
}
h3:hover{
    text-decoration: none;
}
button:active{
    background-color: hotpink;
}